.error-msg {
  color: #f54d4d;
  font-weight: 500;
  font-size: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin infinite 5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

.headingSection {
  font-size: 20px;
  font-weight: 700;
}

.sub {
  margin: 0px;
  text-transform: uppercase;
  display: block;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  font-weight: 800;
  margin-bottom: 4px;
}

.button__series {
  display: flex;
}

.button__series button {
  margin-right: 30px;
}

.my_investments_page_view {
  margin-top: 30px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
